<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="ApplicationContextDao.xml"/>

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="accountService" class="com.getjavajob.training.karpovn.socialnetwork.service.AccountService">
        <constructor-arg ref="accountDao"/>
        <constructor-arg ref="phoneDao"/>
    </bean>

    <bean id="groupService" class="com.getjavajob.training.karpovn.socialnetwork.service.GroupService">
        <constructor-arg ref="groupDao"/>
    </bean>

    <bean id="messageService" class="com.getjavajob.training.karpovn.socialnetwork.service.MessageService">
        <constructor-arg ref="messageDao"/>
    </bean>
</beans>